[Unit]
# this is the daemon for running the example-api REST API node.js service
Description=GoCMS web portal REST API
# make sure we have network connection before starting
After=network.target

[Service]
# run as administrator:administrator
User=administrator
Group=administrator
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
# working directory where the code lives
WorkingDirectory=/opt/example-api
# run the application with node
ExecStart=/usr/bin/node src/index
# restart if we crash
Restart=on-failure

[Install]
# don't start until we are in the multi-user run level of linux
WantedBy=multi-user.target
